div{
    margin: 20px;
    padding: 10px;
    background: aliceblue;
    text-align: center;
}
div div div div{
    border-bottom: 3px solid bisque;
}
p{
    background: beige;
    border-radius: 300%;
}